@charset "utf-8";
/* CSS Document */


.brasil{
	margin-top:60px;
	}
#botao{
	margin-left:5px;
	width:100px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
 	border:#FFF;
}	

#botao:hover  {
	
	margin-left:5px;
	width:100px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#6F3;
	box-shadow: 0 0 15px #6F3;
	border:#FFF;
	
	}	
	
	
#label{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
	}	
.opcao{
	

	float:left;
	margin-left:50px;
	
	
	
	}	